.headerContainer{
    position: fixed;
    width: 100%;

}
.headerComponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.2rem 9.6rem 6.1rem 9.6rem ;
    width: 100%;

    background: #FFFFFF;

    &--focused{
        padding: 9.3rem 9.6rem;
    }

    &__logo{
        color:#EB5757;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        
    }

    &__inputs{

        display: flex;
        height: 5.5rem;
        align-items: center;
        width: 29.7rem;
        background: #FFFFFF;
        box-shadow: 0rem .1rem .6rem rgba(0, 0, 0, 0.1);
        border-radius: 1.6rem;

        &--focused{
            width: 100%;
        }
    }

    &__location{
        width: 13.8rem;
        height: 100%;
        /* width: fit-content; */
        padding: 1.9rem 1.6rem;
        font-family: 'Mulish';
        font-size: 14px;
        line-height: 16px;

        color: #333333;

        border-right: .1rem solid #F2F2F2;

        &__input, &__input::placeholder{
            width: 100%;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }

        &__input{
            color: #333333;
        }

        &__input::placeholder{
            color: #BDBDBD;
        }
        
        &--focused{
            width: 33%;
            border: 1px solid transparent;
            padding: 1.2rem 0  1rem 2.7rem ;
            padding-top: 1.2rem;


        }

        &--choosingLocation{
            border: 1px solid #333333;
            filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
            border-radius: 16px;
        }

        &__helpText{

            font-family: 'Mulish';
            font-style: normal;
            font-weight: 800;
            font-size: 9px;
            line-height: 11px;
            text-transform: uppercase;
            
            color: #333333;
        }
        
        
    }

    &__guests{
        /* width: fit-content; */
        width: 10.6rem;
        height: 100%;

        padding: 1.9rem 1.6rem;

        border-right: .1rem solid #F2F2F2;;

        &__input, &__input::placeholder{
            width: 100%;
            font: normal 400 14px/18px 'Mulish', sans-serif;
        }

        &__input{
            color: #333333;
        }

        &__input::placeholder{
            color: #BDBDBD;

        }

        &--focused{
            width: 33%;
            border: 1px solid transparent;
            padding: 1.2rem 0 1rem 1.3rem;

        }

        &--choosingGuests{
            border: 1px solid #333333;
            filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
            border-radius: 16px;
        }

        &__helpText{
            width: 100%;
            height: 100%;
            font: normal 800 9px/11px 'Mulish', sans-serif;
            text-transform: uppercase;
            
            color: #333333;
        }

    }
    &__searchButton{
        position: relative;
        width: 5.3rem;
        height: 5.5rem;
        &__icon{
            top: 1.9rem;
            left: 1.9rem;
            color: #EB5757;
            
        }
        &__icon--focused{
            top: 1.9rem;
            left: 1.9rem;
            color: #F2F2F2;
            
        }
        &--focused{
            display: flex;
            padding: 1.5rem 2.5rem 1.6rem 2.7rem;

            align-items: center;
            width: 12.7rem;
            height: 4.8rem;
            margin: auto;
            color: #F2F2F2;
            background: #EB5757;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            
            font: normal 700 14px/18px 'Mulish', sans-serif;
        }
    }
    &__options{
        width: 100%;
        min-height: 20rem;
        margin-top: 4.1rem;
        display: grid;
        grid-template-columns: repeat( auto-fill , minmax(33%,1fr) );



        &__location{
            display: flex;
            flex-direction: column;
            gap:3.45rem;
            align-items: flex-start;
            padding-left: 2.6rem;
            font: normal 400 14px/18px 'Mulish', sans-serif;


            color: #4F4F4F;

            button{
                display: flex;
                align-items: center;
            }
        }

        &__guests{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1.3rem;
            font: normal 700 14px/18px 'Mulish', sans-serif;
            
            &__label{
                color: #333333;
            }

            &__helpText{
                color: #BDBDBD;
            }

            &__number{
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }
            
            button{
                width: 2.3rem;
                height: 2.3rem;
                margin-top: 1.2rem;
                color: #828282;
                border: 1px solid #828282;
                border-radius: 4px;
            }
        }
    } 
}

.headerOpacity{
    background: rgba(79, 79, 79, 0.4);

    width: 100%;
    height: 100dvh;
}

@media only screen and (max-width: 23.5em) {

.headerComponent{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.9rem;
    padding: 1.9rem 1.3rem 3.7rem 1.3rem;

    &__logo{
        align-self: flex-start;
    }

    &__searchButton--focused{
        position: absolute;
        right:12.4rem;
        bottom:2.4rem;
    }
}
}