#root {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height:100dvh;
}

.mainContent{
  padding: 14.8rem 9.6rem 14.4rem 9.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;

      color: #333333;
    }

    &__countStay{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #4F4F4F;
    }
  }
  &__containerCards{

    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat( auto-fill , minmax(37rem,1fr) );
  }
}

/* 375/16 = 23.4375em */

@media only screen and (max-width: 23.5em) {

.mainContent{
  padding: 16.7rem 1.2rem 1.2rem 1.2rem;

  &__containerCards{

    display: grid;
    gap: 3.2rem;
    grid-template-columns: 100%;
  }
  &__header__title{
      font-size: 18px;
      line-height: 22px;
    }

  &__header__countStay{
      font-size: 14px;
      line-height: 17px;
  }
  
}

}